/*fontul este pus in folderul contact.css*/
.container-footer3{
    margin-top: auto;
}
.Container-Sosuri-Restaurant{
    min-height: 100vh;
    background-image: url(/src/imagini/FastFoodWallpaper.jpg);
}