
.margin-top{
    margin-top: 5rem;
}
.prima-pagina{
    overflow-x: hidden;
}
.prima-pagina *:not(i){
    font-family: Roboto;
}

#Element-invizibil-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
}


.Container-acasa{
    min-height: 100vh;
    padding: 0 150px;
    background-color: #efeff0;
    padding-top: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caseta-acasa-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    align-self: center;
}
.acasa-scris{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    color: #1a2940;
}
.acasa-scris h2{
    font-size: clamp(2rem, 3vw, 3.5rem);
    font-weight: 800;
}
.acasa-scris p{
    margin-top: 2rem;
    line-height: 2rem;
}
.container-butoane-pp{
    display: flex;
}
.buton-1-pp, .buton-2-pp{
    padding-top: 1rem;
}
.buton-1-pp a{
    text-decoration: none;
    color: black;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #f05927;
    font-size: 1.25rem;
    font-weight: 800;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}
.buton-2-pp a{
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #46219c;
    font-size: 1.25rem;
    font-weight: 800;
    display: inline-block;
    cursor: pointer;
}
.container-iconite-caseta{
    display: flex;
}
.container-iconite-caseta *{
    margin-right: 0.25rem;
    font-size: 2rem;
}
.iconita-1{
    color: rgb(206, 134, 0);
}
.iconita-2{
    color: rgb(255, 255, 0);
}
.iconita-3{
    color: rgb(0, 89, 255);
}
.iconita-4{
    color: rgb(0, 128, 202);
}


.Proiecte-Primapagina{
    background-color: white;
    min-height: 100vh;
    padding: 0 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.caseta-proiecte-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    align-self: center;
}
.Container-Casete-Proiecte{
    display: flex;
    justify-content: end;
    align-items: end;
}
.CasetaProiect{    
    width: 350px;
    aspect-ratio: 2/3;
}
.CasetaProiect:first-child{
    margin-right: 2rem;
}
.Titlu-Si-Scris-Proiect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    color: #1a2940;
    
}
.Titlu-Si-Scris-Proiect h2{
    font-size: clamp(2rem, 3vw, 3.5rem);
    font-weight: 800;
}
.Titlu-Si-Scris-Proiect p{
    margin-top: 2rem;
    line-height: 2rem;
}



.DespreMine-PP{
    background-color: #efeff0;
    color: #1a2940;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
}
.DespreMine-PP h2{
    font-size: clamp(2rem, 3vw, 3.5rem);
    font-weight: 800;
}
.Caseta-DespreMine-PP{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    align-self: center;
}
.Container-img-DespreMine{
    width: 400px;
    padding-right: 20px;
}
.Container-img-DespreMine img{
    width: 100%;
}
.Container-scris-DespreMine{
    width: 700px;
}
.Container-scris-DespreMine > p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.Container-scris-DespreMine a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #f05927;
    margin-top: 15px;
    padding: 20px 30px;
    border-radius: 5px;
    color: black;
    font-size: 1.25rem;
    font-weight: 800;
}



.container-iconite-caseta{
    margin-top: 0.5rem;
}
.acasa-img{
    width: 450px;
    aspect-ratio: 4/5;
}
.container-img-acasa{
    position: relative;
}
.acasa-img img{
   width: 100%;
}


.custom-shape-divider-bottom-1679011994 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679011994 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1679011994 .shape-fill {
    fill: #efeff0;
}
.Container-ContactPP{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Contaier-form2{
    padding: 0 1.25rem;
    width: 800px;
    max-width: 100%;
}
.Container-ContactPP h2{
    font-size: clamp(2rem, 3vw, 3.5rem);
    color: #1a2940;
    text-align: center;
    margin-bottom: 2rem;
}
.Container-interior-Contact-PP{
    display: flex;
    justify-content: center;
}
.Container-cutie-contact-PP{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1.25rem;
}
.cutie-contact{
    padding: 25px;
    box-shadow: 0.25rem 0.25rem 0.5rem 0.5rem rgb(180, 176, 176);
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.cutie-contact h4, .cutie-contact p{
    color: #1a2940;
}
.cutie-contact-iconita{
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f05927;
    
}

.cutie-contact i{
    font-size: 2rem;
    color: #1a2940;
}
.cutie-contact *{
    margin: 5px 0;
}
@media (max-width: 1350px){
    .Container-acasa, .Proiecte-Primapagina, .DespreMine-PP{
        padding: 0 75px;
    }
    .Container-acasa{
        padding-top: 10vh;
    }
    .CasetaProiect{    
        width: 250px;
    }
}
@media (max-width: 1200px){
    .acasa-scris h2{
        margin-top: 1rem;
    }
    .Container-acasa, .DespreMine-PP{
        padding: 0 50px;
        padding-top: 10vh;
    }


    .Proiecte-Primapagina{
        padding: 0 50px;
    }
}
@media (max-width: 960px){
    .caseta-acasa-flex{
        flex-direction: column;
        align-items: center;
    }
    .acasa-scris{
        width: auto;
        text-align: center;
        margin-top: 5rem;
    }
    .container-butoane-pp{
        justify-content: center;
        margin-top: 10px;
    }
    .container-iconite-caseta{
        justify-content: center;
    }
    .acasa-img{
        margin-top: 10vh;
    }


    .Titlu-Si-Scris-Proiect{
        width: auto;
        text-align: center;
        margin-bottom: 2rem;
    }
    .caseta-proiecte-flex{
        flex-direction: column;
    }
    .Container-Casete-Proiecte{
        justify-content: space-around;
    }
    .CasetaProiect{
        width: 400px;
    }
    


    .Caseta-DespreMine-PP{
        flex-direction: column;
        align-items: center;
    }
    .Caseta-DespreMine-PP h2{
        text-align: center;
    }
    .Container-img-DespreMine{
        padding: 0;
    }
    .Container-buton-dowload{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .Container-scris-DespreMine{
        width: auto;
        max-width: 700px;
    }
    


    .Container-interior-Contact-PP{
        flex-direction: column;
    }
    .Contaier-form2{
        width: 100%;
    }
    .Container-cutie-contact-PP{
        flex-direction: row;
        margin: 2rem 0;
    }
}

@media(max-width: 850px){
    .Container-cutie-contact-PP{
        flex-direction: column;
    }
    .cutie-contact{
        margin: 1rem 0;
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 600px){
    .Container-acasa{
        padding: 0 20px;
        padding-top: 10vh;
    }
    .acasa-img{
        width: 100%;
    }
    .buton-2-pp a{
        height: 100%;
    }


    .Container-Casete-Proiecte{
        flex-direction: column;
    }
    .CasetaProiect:first-child{
        margin-right: 0;
    }
    .CasetaProiect{
        width: 100%;
        aspect-ratio: 1/1;
        margin: 1rem 0;
    }
    .Titlu-Si-Scris-Proiect{
        margin-top: 1rem;
    }


    .Proiecte-Primapagina, .DespreMine-PP{
        padding: 0 20px;
    }
    .Container-img-DespreMine{
        width: 100%;
    }
}

    