.Container-Footer4{
    padding: 25px;
    background-color: #f05927;
    color: #1a2940;
    display: flex;
    justify-content: space-around;
}
.Container-Footer4 ul{
    list-style: none;
    
}
.Container-Footer4 ul li a{
    text-decoration: none;
    color: #1a2940;
    cursor: pointer;
}
.Container-Navigation, .Container-Projects, .Container-Contact{
    padding: 0;
}
.Subtitlu-Footer4{
    margin-bottom: 15px;
    position: relative;
}

.Navigation-footer4, .Projects-footer4, .Contact-footer4{
    display: flex;
    flex-direction: column;
}

.Navigation-footer4 > *, .Projects-footer4 > *, .Contact-footer4 > *{
    text-decoration: none;
    color: #1a2940;
    padding: 10px 0;
}
.container-info-footer4{
    display: flex;
}
.container-info-footer4 i{
    padding-right: 10px;
}
.Navigation-footer4 *, .Projects-footer4 *{
    
    width: auto;
}

@media (max-width: 800px){
    .Container-Footer4{
        flex-direction: column;
        padding: 25px 125px;
    }
}

@media (max-width: 600px){
    .Container-Footer4{
        padding: 25px 50px;
    }
}
@media (max-width: 400px){
    .Container-Footer4{
        padding: 25px;
    }
}